<ion-grid>
  <ion-card>
    <ion-row>
      <ion-col>
        <ion-label>Nombre:</ion-label>
      </ion-col>
      <ion-col>
        <ion-input [(ngModel)]="eventName" placeholder="Nombre del Evento"></ion-input>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row>
      <ion-col>
        <ion-label>Descripción:</ion-label>
      </ion-col>
      <ion-col>
        <ion-input [(ngModel)]="eventDesc" placeholder="Descripción del Evento"></ion-input>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row>
      <ion-col>
        <ion-label>Fecha:</ion-label>
      </ion-col>
      <ion-col>
        <ion-datetime [(ngModel)]="eventDate"
        min="{{minDate()}}" max="2120"
        placeholder="Seleccionar fecha"
        displayFormat="DD MMM YYYY"
        monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
        
        ></ion-datetime>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row>
      <ion-col>
        <ion-label>Hora:</ion-label>
      </ion-col>
      <ion-col>
        <ion-datetime [(ngModel)]="eventTime"
        placeholder="Seleccionar hora"
        displayFormat="HH:mm"
        ></ion-datetime>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card *ngIf="this.eventName == undefined || this.eventName == '' || this.eventDate == undefined">
    <ion-row *ngIf="this.eventName == undefined || this.eventName == ''">
      <ion-text color="warning">* El nombre del elvento es inválido</ion-text>
    </ion-row>
    <ion-row *ngIf="this.eventDate == undefined">
      <ion-text color="warning">* La fecha del elvento es inválida</ion-text>
    </ion-row>
  </ion-card>
  <ion-card *ngIf="this.eventName != undefined && this.eventName!='' && this.eventDate != undefined">
    <ion-row>
      <ion-col>
        <ion-button (click)="onClick()">
          Insertar Evento
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card *ngIf="events.length > 0">
    <ion-row>
      <ion-col size=3>Nombre del Evento</ion-col>
      <ion-col size=3>Descripción del Evento</ion-col>
      <ion-col size=3>Fecha</ion-col>
      <ion-col size=3>Hora</ion-col>
    </ion-row>
    <ion-row *ngFor="let event of events">
      <ion-col size="3">{{event.name}}</ion-col>
      <ion-col size="3">{{event.desc}}</ion-col>
      <ion-col size="3">{{event.date}}</ion-col>
      <ion-col size="3">{{event.time}}</ion-col>
    </ion-row>
  </ion-card>
  

</ion-grid>

